body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;


    font-family: 'Acme', sans-serif;


    .top {
        align-self: flex-start;
        color: $primary;
        font-size: 55px;
        font-weight: 700;
    }

    .bottom {
        color: $dark;
        font-size: 55px;
        font-weight: 900;
    }

    .primary {
        font-size: 102px;
        font-weight: 900;
        color: $dark;
        line-height: 0.7;

    }

    .dark {
        font-size: 102px;
        font-weight: 900;
        color: $primary;
        line-height: 0.7;

    }

    .light {
        color: $light;
    }


    .navbar {
        position: fixed;
        top: 65%;
        left: 30px;
        transform: translateY(-50%);

        z-index: 999;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        .navbar__link {
            margin: 0 15px 30px;

            color: $light;
            font-size: 20px;
            font-weight: 100;
            text-decoration: none;

            box-sizing: border-box;

            &:hover {
                color: $light;
                border-bottom: 5px solid $light;
            }

            &.light {
                color: $light;

                &:hover {
                    border-bottom: 2px solid $burple;
                }
            }
        }

        @media screen and (max-width: 860px) {
            left: 15px;

            .navbar__link {
                font: size 18px;
            }
        }

        @media screen and (max-width: 768px) {
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 100vw;
            align-items: flex-end;
            justify-content: center;
            display: flex;

            transition: all 0.2s linear;

            background: linear-gradient(to right, $dark 50%, $primary 50%);

            &.active {
                left: 0vw;
            }

            .navbar__link {
                color: $light;
                font-size: 28px;
            }
        }


    }

    .section {
        width: 100vw;
        height: 100vh;


        background: $dark;
        background: linear-gradient(to bottom, $dark 50%, $primary 50%);

        &:nth-child(odd) {
            background: linear-gradient(to top, $dark 50%, $primary 50%);
        }

        display: grid;
        grid-template-columns: 150px auto 150px;
        grid-template-rows: 150px auto 150px;
    }

    .heading {
        color: $light;
        font-size: 72px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;


        grid-column: 2/3;
        margin: 30px 0px 0px;

    }
    @media screen and (max-width:640px) {
       grid-template-columns: 1fr;
       height: auto;
       .heading{
           grid-column: span 2;
       }
    }
}