#youtube {
    background: linear-gradient(to top, $yt-red 50%, $dark 50%);

    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-rows: 200px 1fr 200px;

    .heading {
        color: red;
        grid-column: 2/4;
        @media screen and (max-width:768px){
            grid-column: auto;
            grid-row: auto;
         }
    }

    h3 {
        color: $light;
        font-size: 32px;
        text-align: center;
        margin: 0;
        padding: 0;

    }

    .description {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 112px;
        box-sizing: border-box;


        color: $light;
        justify-self: center;
        width: 100%;

        max-width: 620px;
        font-size: 15px;
        text-align: justify;

        a {
            text-decoration: none;
            width: 50%;
            height: 50%;
            max-width: 520px;
        }
        @media screen and (max-width:768px){
            grid-column: auto;
            grid-row: auto;
           
         }

    }

    .latest-video {
        grid-column: 3/4;
        grid-row: 2/3;
        padding: 15px;
        box-sizing: border-box;

        .thumbnail {
            display: block;
            width: 100%;
            
            max-width: 420px;
            margin: 0 auto;
        }
        @media screen and (max-width:768px){
           grid-column: auto;
           grid-row: auto;
         
        }
    }

    .channel {
        grid-column: 1/5;
        grid-row: 3/4;

        .yt-link {
            display: flex;
            justify-content: center;
            align-items: center;

            .yt-logo {
                
            
                width: 252px;
                margin-top: -27px;

            }

            p {
                color: $primary;
                font-size: 22px;
                margin-left: 15px;

            }

        }
        @media screen and (max-width:768px){
            grid-column: auto;
            grid-row: auto;
          
         }

    }
    @media screen and (max-width:768px){
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    @media screen and (max-width:640px){
       height: auto;
    }

}